<div class="column-layout group">
  <h6 class="h6">
    Dashboards
  </h6>
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Dashboards</span>
      <span igxListAction>
        <igx-icon class="icon">
          dashboard
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Favorites</span>
      <span igxListAction>
        <igx-icon class="icon">
          star
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Recent</span>
      <span igxListAction>
        <igx-icon class="icon_1">
          access_time
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListLineTitle>Samples</span>
      <span igxListAction>
        <igx-icon class="icon">
          ballot
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group_1">
  <div class="row-layout group_2">
    <h5 class="h5">
      Recent
    </h5>
  </div>
  <div class="row-layout group_3">
    <igx-card type="outlined" *ngFor="let item of customer370DashboardsDashboards" routerLink="/dashbord-viewer" class="card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar icon="person" [roundShape]="true" class="avatar"></igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          {{ item.Title }}
        </h3>
        <h5 igxCardHeaderSubtitle>
          {{ item.AddedBy }}
        </h5>
      </igx-card-header>
      <igx-card-media height="400px">
        <img [src]="item.ThumbnailURL" class="image" />
      </igx-card-media>
      <igx-card-actions [reverse]="true" class="actions-content">
        <button igxButton="flat" igxRipple class="button">
          Button
        </button>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple>
          <igx-icon>
            share
          </igx-icon>
        </button>
      </igx-card-actions>
    </igx-card>
    <button igxButton="fab" igxRipple class="button_1">
      <igx-icon>
        add
      </igx-icon>
    </button>
  </div>
</div>
